{
  "dev-platform": {
    "host": "https://developer.maestrano.com",
    "api_path": "/api/config/v1/"
  },
  "environment": {
    "name": "local",
    "api_key": "<Environment API key>",
    "api_secret": "<Environment API secret>"
  }
}
